<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>simple</title>
</head>
<body>
	<div>
	{% if error %}
        <div class="alert alert-danger" style="margin-top:1em;">
			<strong>Warning!</strong> {{ error }}
		</div>
	{% end %}
       {% if notice %}
        <div class="alert alert-success" style="margin-top:1em;">
			{{ notice }}
		</div>
	{% end %}
	</div>
	<form method="post" role="form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Email address"
				required autofocus name="email" value="{{ email or ''}}">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password"
				name="password"> <input type="hidden" name="next"
				value="{{ next }}" />
		</div>

		<div style="text-align: right;">
			<input name="submit" name="submit" value="Log In"
				class="btn btn-primary" type="submit"></input>
		</div>
	</form>
</body>
</html>